<div *ngIf="errMssg.length > 0">
  <p *ngFor="let err of errMssg" class="err">{{ err }}</p>
</div>
<app-table
  [pageConfig]="page"
  [dataList]="vehicles"
  tabelName="vehicle"
  filterInputPlaceHolder="Name"
  (sortEvent)="handelSorting($event)"
  (filterEvent)="handelFilter($event)"
  (actionEvent)="handelActions($event)"
  viewFor="order"
></app-table>

<app-pagination-controls 
  (pageSizeChangeEvent)="onPageSizeChange($event)" 
  [includePageSize]="true" *ngIf="errMssg.length<=0 " 
  [page]="page"
  (pageChangeEvent)="getData($event)">
</app-pagination-controls>

