input{
    width: 100%;
    padding: 14px 13px;
    border-radius: 3px;
    border: 1px solid black;
    margin: 2px 0;
    outline: none;
}

div{
    height: 75px;
}


span{
    font-size: 0.8rem;
    color: red;
}

.err{
    border: 1px solid red;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.input_label{
    margin: 5px 0 10px;
}

@media screen and (max-width:330px){
   .err{
    font-size: 0.5rem;
   }
}