input{
    width: 100%;
    padding: 14px 13px;
    border-radius: 3px;
    border: 1px solid black;
    margin: 2px 0;
    outline: none;
}

span{
    font-size: 0.8rem;
    color: red;
}

.err{
    border: 1px solid red;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.input_label{
    margin: 15px 0 0 0;
    display: flex;
    justify-content: space-between;
    padding: 0px 8px 0 0;
    width: 110px;
}

.input_container{
    /* display: flex; */
    display: grid;
    grid-template-columns: 1fr 3fr;
}


.input_and_error{
    height: 75px;
}

.required{
    color: red;
    margin-left: 5px;
}

@media screen and (max-width:330px){
   .err{
    font-size: 0.5rem;
   }
}