.table_container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

table {
  /* display: flex; */
  /* width: 100%; */
  /* flex-direction: column; */
  /* height: 25em; */
}

.overflow {
  overflow: scroll;
}

table thead th {
  background-color: #3676ee;
  color: white;
}

table th {
  font-weight: 500;
}

table th,
td {
  border: none;
  padding: 10px;
  text-align: center;
}

table td {
  margin-bottom: 1px solid black;
}

.table_btn {
  border: none;
  padding: 5px;
  color: white;
  border-radius: 4px;
  font-weight: 200px;
  cursor: pointer;
  margin: 5px;
  width: 90px;
}

.delete_btn {
  background-color: #a93226;
}

.delete_btn:hover {
  background-color: #681c15;
}

.edit_btn {
  background-color: #229954;
}

.edit_btn:hover {
  background-color: #12542e;
}

.view_btn {
  background-color: #3676ee;
}

.view_btn:hover {
  background-color: #1b3a73;
}

.wrap_btn {
  display: flex;
  justify-content: center;
}

.page_size_container select {
  padding: 5px 10px;
  margin: 10px;
  border: none;
  outline: none;
  cursor: pointer;
}

.pagination_btns button {
  padding: 10px;
  margin: 10px;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  box-shadow: 1px 1px 10px 1px #8888887c;
}

.page_btn_active {
  background-color: #3676ee;
  color: white;
  font-weight: 400;
}

.no_cust_to_display {
  text-align: center;
  margin-top: 10px;
}

.model {
  position: absolute;
  background-color: rgba(128, 128, 128, 0.419);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.confirm-box {
  padding: 10px;
  background-color: white;
  width: 270px;
  text-align: center;
}

.confirm-box p {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.confirm-box button {
  padding: 10px 20px;
  border-radius: 4px;
  border: none;
  margin: 10px;
  cursor: pointer;
}

.confirm_delete {
  background-color: rgb(200, 15, 15);
  color: white;
}

.hide {
  display: none;
}

.sort_btns,
.column_with_sort {
  display: flex;
}

.column_with_sort {
  display: flex;
  justify-content: center;
  align-items: center;
}

.column_with_sort span {
  cursor: pointer;
}

.filter_container input {
  padding: 5px;
  width: 250px;
}

.filter_container button {
  margin-left: 10px;
  background-color: #3676ee;
  border: none;
  padding: 6.5px 10px;
  border-radius: 4px;
  color: white;
  cursor: pointer;
}

.table_box {
  text-align: center;
  height: 40vh;
  width: 90vw;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 1560px) {
  .overflow_vehicle {
    max-width: 90vw;
    overflow: scroll;
  }

  /* .overflow_vehicle table {
    width: 1500px;
  } */
}

@media screen and (max-width: 1560px) {
  .filter_container input {
    width: 200px;
  }
}

.filter_container {
  margin-bottom: 10px;
}

tbody {
  display: block;
  max-height: 19em;
  overflow-y: auto;
  overflow-x: hidden;
}

thead,
tbody tr {
  display: table;
  width: 100%;
  table-layout: fixed;
}

thead,
table {
  width: 600px;
  width: 600px;
  text-align: center;
}

td,
th {
  width: 240px;
}

@media screen and (max-width: 1400px) {
  .table_box{
    display: unset;
    max-width: 80%;
    overflow-y: scroll;
  }
}