<div class="align_center_screen">
    <app-back-button></app-back-button>
    <form class="form" >
        <h1>Reset Password</h1>
        <div class="input_err_container" >
            <div 
                class="input_container" 
                [ngClass]="!password.isValid ? 'err_border':''">
                <label *ngIf="password.isPasswordFieldTouched" class="input_label  {{password.isPasswordFieldTouched&& 'input_active'}}">Password</label>
                <input 
                    (click)="password.isPasswordFieldTouched=true" 
                    type="password"
                    placeholder="{{!password.isPasswordFieldTouched? 'Password':''}}"
                    ngClass="{{password.isPasswordFieldTouched &&'input_is_active'}}"
                    [(ngModel)]="password.value"
                    name="password"
                    (keyup)="validatePassword()"
                    >
            </div>
            <p 
                *ngIf="!password.isValid" 
                class="err_mssg">
                password should consist of minimum 8 characters.
            </p>
        </div>

        <div class="input_err_container" >
            <div 
                class="input_container" 
                [ngClass]="!confirmPassword.isValid ? 'err_border':''">
                <label *ngIf="confirmPassword.isConfirmFieldTouched" class="input_label  {{confirmPassword.isConfirmFieldTouched&& 'input_active'}}">Confirm password</label>
                <input 
                    (click)="confirmPassword.isConfirmFieldTouched=true" 
                    type="password"
                    [(ngModel)]="confirmPassword.value"
                    placeholder="{{!confirmPassword.isConfirmFieldTouched? 'Confirm password':''}}"
                    ngClass="{{confirmPassword.isConfirmFieldTouched &&'input_is_active'}}"
                    name="confirmPassword"
                    (keyup)="validateConfirmPassword()"
                    >
            </div>
            <p 
                *ngIf="!confirmPassword.isValid" 
                class="err_mssg">
                password doesn't match.
            </p>
        </div>

        <div class="errMssg" *ngIf="errMssg.length>0">
            <p *ngFor="let err of errMssg">- {{err}}</p>
        </div>

        <!-- <span *ngIf="responseSuccess" class="success">
            Success
        </span> -->
        <button (click)="onResetBtnClick()" 
            [disabled]="!(password.value.length>=8&& confirmPassword.value==password.value)">
            <p *ngIf="!isLoading">Reset</p>
            <div *ngIf="isLoading" class="rotate_loader load_small"></div>
        </button>
    </form>
</div>