<div class="main">
    <header>
        <nav>
            <div class="heading_menu">
                <h1>MyDrive</h1>
                <ul class="menu">
                    <a (click)="navigateService.navigateToAdminHome()" routerLink="/admin/allCustomers"
                        routerLinkActive="active">
                        <li>Home</li>
                    </a>
                    <a routerLinkActive="active" routerLink="/admin/registerAdmin">
                        <li (click)="navigateService.navigateToAdminRegisterForm()">Add Admin</li>
                    </a>
                    <a routerLinkActive="active" routerLink="/admin/addedVehicleTable">
                        <li>Added Vehicle</li>
                    </a>
                    <a routerLinkActive="active" routerLink="/admin/addVehicle">
                        <li>Add Vehicle</li>
                    </a>

                </ul>
            </div>

            <ul class="profile_container">
                <!-- <li class="profile" (click)="navigateService.navigateToCustomerProfile()">
                <p>
                    {{name}}
                </p>
                <span class="material-symbols-outlined">
                    person
                </span>
            </li> -->
                <li>
                    <button class="log_out_btn" (click)="logOut()">Log out</button>
                </li>
            </ul>
        </nav>
    </header>
    <div class="center">
        <router-outlet></router-outlet>
    </div>
</div>