  /* @import url('https://fonts.googleapis.com/css2?family=Cairo+Play:wght@400;500;600;700;800&display=swap'); */

  nav,
  nav ul {
      display: flex;
  }

  nav {
      padding: 5px 20px;
      background-color: var(--we-page-color);
      display: grid;
      grid-template-columns: 3fr 1fr;
      justify-content: space-between;
  }

  .heading_menu {
      display: flex;
  }

  nav h1 {
      font-size: 2rem;
      font-family: 'Cairo Play', sans-serif;
      font-style: italic;
      color: white;
  }

  .menu {
      display: flex;
      justify-content: space-between;
      align-items: center;
      color: white;
      font-weight: 500;
      font-size: 1rem;
      margin-left: 100px;
  }

  .menu li {
      margin: 0 18px;
      color: white;
      padding: 18px 10px;
  }

  .active {
      border-bottom: 3px solid white;
  }

  .profile_container {
      display: flex;
      justify-content: center;
      align-items: center;
  }

  .profile_container li {
      margin: 0 30px;
  }

  .profile {
    cursor: pointer;
      color: white;
      border: 2px solid white;
      padding: 8px 20px;
      border-radius: 4px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      font-size: 1.2rem;
  }

  .profile span {
      font-size: 1.2rem;
      margin-left: 10px;
  }

  .log_out_btn{
    padding: 12px;
    border: none;
    font-weight: 700;
    border-radius: 4px;
    color: var(--we-page-color);
  }