<div class="main">
    <header>
        <nav *ngIf="toggleActive">
            <div class="heading_menu">
                <div class="heading_cancel_btn_container">
                    <h1>MyDrive</h1>
                    <button class="cancel_btn" (click)="toggleActive=!toggleActive">
                        <span class="material-symbols-outlined">
                            close
                        </span>
                    </button>
                </div>

                <ul class="menu">
                    <a (click)="navigateService.navigateToAdminHome()" routerLink="/admin/allCustomers"
                        routerLinkActive="active">
                        <li>Home</li>
                    </a>
                    <a routerLinkActive="active" routerLink="/admin/registerAdmin">
                        <li (click)="navigateService.navigateToAdminRegisterForm()">Add Admin</li>
                    </a>
                    <a routerLinkActive="active" routerLink="/admin/addedVehicleTable">
                        <li>Added Vehicle</li>
                    </a>
                    <a routerLinkActive="active" routerLink="/admin/addVehicle">
                        <li>Add Vehicle</li>
                    </a>

                </ul>
            </div>

            <ul class="profile_container">
                <li>
                    <button class="log_out_btn" (click)="logOut()">Log out</button>
                </li>
            </ul>
        </nav>
        <div class="ham_menu_container" *ngIf="!toggleActive" (click)="toggleActive=!toggleActive">
            <button class="hamburger_menu">
                <span class="material-symbols-outlined">arrow_forward_ios </span>
            </button>
        </div>
    </header>
    <div class="center">
        <router-outlet></router-outlet>
    </div>
</div>