<div class=" cart_container">
    <div><button (click)="clearCart()" class="cart_btn">Clear cart</button></div>
    <div class="cart">
        <div class="cart_item" *ngFor="let item of cart.cartItems ">
            <div class="img_container">
                <img src={{item.vehicle.imgUrl}} alt="" style="max-width: 100px;max-width: 100px;">
            </div>
            <div class="cart_item_desc">
                <p> <b>{{item.vehicle.name}}</b></p>
                <p> {{item.vehicle.vehicleType}}</p>
                <p> <b>Color : </b> {{item.color}}</p>
                <p> <b>Fuel type : </b> {{item.fuelType.toLocaleLowerCase()}}</p>
                <p> <b>quantity :</b> {{item.quantity}}</p>
                <p> <b>Price : </b> {{item.finalPrice | currency:'INR'}}</p>
            </div>
            <div class="remove_container">
                <button class="remove" (click)="removeItemFromCart(item)">-</button>
            </div>

        </div>
        <h2 *ngIf="cart.cartItems.length<=0">Your cart is empty.</h2>
    </div>

    <div class="cart_total_cotainer">
        <p class="cart_total">
            <b> Cart total: </b>
            <span> {{cart.cartTotal | currency:'INR'}}</span>
        </p>
        <div class="place_btn_container">
            <button class="cart_btn" [disabled]="cart.cartItems.length<=0" (click)="navigateToPlaceOrder()">place order</button>
        </div>
    </div>
</div>