<div class="customer_details_container">
  <div class="get_result">
    <p  *ngFor="let detail of customer | keyvalue : sortNull">
      <span *ngIf="detail.key!='id'">
        <b> {{transform(detail.key)}} :</b> {{detail.value }}
      </span>
    </p>

  </div>
  <h1>Vehicle details</h1>
  <app-vehicle-table
  [customerId]="customer.id"
  ></app-vehicle-table>
  <!-- <ul *ngFor="let orderDetail of customer.orders">
    <app-order-detail [order]="orderDetail"></app-order-detail>
  </ul> -->
</div>
