<div class="align_center_screen">
    <form (submit)="onSubmitForm($event)">
    <h1>Log in </h1>

    <app-input 
        labelText="User name"
        [inputAttribute]="[{key:'type',value:'text'},{key:'placeholder',value:'User name'}]"
        errMssg="Invalid User name" 
        [validateInput]="validateName"
        (inputEventEmmiter)="formUserName=$event">
    </app-input>

    <app-input 
        labelText="Password"
        [inputAttribute]="[{key:'type',value:'password'},{key:'placeholder',value:'password'}]"
        errMssg="Invalid password"
        [validateInput]="validatePassword"
        (inputEventEmmiter)="formPassword=$event">
    </app-input>

    <div class="errMssg" *ngIf="responseErrorMessage.length>0">
        <p *ngFor="let mssg of responseErrorMessage">{{mssg}}</p>
    </div>

    <button 
        class="form_btn"
        [ngClass]="!(formUserName.valid&&formPassword.valid)?'':'disable_btn'" 
        [disabled]="!(formUserName.valid&&formPassword.valid)">
        submit
    </button>

    <p class="redirect">
        <a (click)="onNavigate()">Register.</a>
        <a (click)="navigateService.navigateToGetOtp()">Forgot password ?</a>
    </p>
    </form>
</div>
