/* You can add global styles to this file, and also import other style files */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

:root{
    --we-page-color: #3676ee;
    --disabled:#3676ee8a;
    --card-box-shadow:rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

body {
    background-color: aliceblue;
    font-family: "Poppins", sans-serif;
}

.align_center_screen {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

a,button{
    cursor: pointer;
}

.disable_btn{
    background-color:var(--disabled);
}


.loader{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.load_big{
    width:120px;
    height:120px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}


.rotate{
    border-bottom: 4px solid var(--we-page-color) ;
    margin: 30px;
    border-radius: 50%;
    animation: rotation infinite 3s linear;
 }



 @keyframes rotation{
    from{
      transform:rotate(0deg);
    }
  
    to{
      transform:rotate(360deg);
    }
  }