<div class="align_center_screen">

    <form (submit)="onSubmitForm($event)" class="form">
        <h1>Register {{formFor.toLowerCase()}}</h1>

        <app-input 
            labelText="First name"
            [inputAttribute]="[{key:'type',value:'text'},{key:'placeholder',value:'First name'}]"
            [inputValue]="formFirstName.value" errMssg="Minimum 3 letters required in first name" 
            [validateInput]="validateName"
            (inputEventEmmiter)="formFirstName=$event">
        </app-input>

        <app-input
            labelText="Last name"
            [inputAttribute]="[{key:'type',value:'text'},{key:'placeholder',value:'Last name'},{key:'value',value:formLastName.value}]"
            [inputValue]="formLastName.value" errMssg="Minimum 3 letters required in last name" 
            [validateInput]="validateName"
            (inputEventEmmiter)="formLastName=$event">
        </app-input>

        <app-input
            labelText="Email"
            [inputAttribute]="[{key:'type',value:'text'},{key:'placeholder',value:'Email'},{key:'value',value:formEmail.value}]"
            [inputValue]="formEmail.value" errMssg="Invalid Email" 
            [validateInput]="validateEmail"
            (inputEventEmmiter)="formEmail=$event">
        </app-input>

        <app-input
            labelText="Phone no."
            [inputAttribute]="[{key:'type',value:'number'},{key:'placeholder',value:'phone'},{key:'value',value:formPhoneNo.value}]"
            [inputValue]="formPhoneNo.value" errMssg="phone no. should consist of 10 digits." 
            [validateInput]="validatePhoneNo"
            (inputEventEmmiter)="formPhoneNo=$event">
        </app-input>

        <app-input
            labelText="Password"
            [inputAttribute]="[{key:'type',value:'password'},{key:'placeholder',value:'password'},{key:'value',value:formPassword.value}]"
            errMssg="Password should be minimum 8 characters"
            [validateInput]="validatePassword"
            [inputValue]="formPassword.value"
            (inputEventEmmiter)="formPassword=$event">
        </app-input>

        <app-input
            labelText="Confirm password"
            [inputAttribute]="[{key:'type',value:'password'},{key:'placeholder',value:'Confirm password'},{key:'value',value:formConfirmPassword.value}]"
            errMssg="Password doesn't match"
            [valueToCompare]="formPassword.value"
            [validateInput]="validateConfirmPassword"
            [inputValue]="formConfirmPassword.value"
            (inputEventEmmiter)="formConfirmPassword=$event">
        </app-input>

        <div  *ngIf="formFor==='CUSTOMER'" class="address_container">
            <label for="">Address          
                 <span class="required"> * </span>
                 <b class="colon">:</b>
            </label>
            <div class="input_and_error">
                <textarea
                    [ngClass]="(!(formAddress.valid )==true)?'err':''"
                    #address placeholder="Address" 
                    (keyup)="validateAddress(address.value)"
                    (blur)="validateAddress(address.value)"
                    name="address" [(ngModel)]="formAddress.value">
                </textarea>
                <span class="err_mssg" *ngIf="!(formAddress.valid )">please enter valid address</span>
            </div>
        </div>

        <span *ngIf="responseSuccess" class="success">
            Success
        </span>
        
        <div *ngIf="responseErrorMessage.length>0" class="errMssg">
            <p *ngFor="let mssg of responseErrorMessage">- {{mssg}}</p>
        </div>

        <button
            [disabled]="!(
                formFirstName.valid
                &&formLastName.valid
                &&formEmail.valid
                &&formPhoneNo.valid
                &&formPassword.valid
                && formConfirmPassword.value==formPassword.value
                && formAddress.value.length>8)">submit</button>

        <p *ngIf="formFor==='CUSTOMER'">Already have a account?
            <a (click)="onNavigate()">Log in.</a>
        </p>
    </form>
</div>