.form {
    min-height: 85vh;
    min-width: 30vw;
    padding: 50px;
}

.form h1 {
    font-size: 2rem;
    text-align: center;
}

textarea {
    width: 100%;
    padding: 14px 13px;
    border-radius: 3px;
    border: 1px solid black;
    margin: 1px 0;
    outline: none;
}

.err_mssg {
    font-size: 0.8rem;
    color: red;
}

.err {
    border: 1px solid red;
}

.address_container {
    display: grid;
    grid-template-columns: 1fr 3fr;
}

.success {
    color: green;
    border: 1px solid green;
    background-color: rgb(173, 210, 173);
    padding: 12px;
    text-align: center;
    margin: 10px 0;
}

.errMssg {
    border: 1px solid rgb(133, 22, 22);
    background-color: rgb(218, 154, 154);
    margin: 10px 0;
    padding: 10px;
    border-radius: 4px;
}

.errMssg p {
    font-size: 0.9rem;
    color: rgb(133, 22, 22);
    padding: 4px 0 2px 5px;
}

label {
    font-weight: bold;
    margin: 15px 0 0 0;
    display: flex;
    justify-content: space-between;
    padding: 0px 8px 0 0;
    width: 110px;
}


.input_and_error {
    height: 100px;
}

.required {
    color: red;
}

@media screen and (max-width:1500px) {
    .form {
        width: 40vw;
    }
}

@media screen and (max-width:1100px) {
    .form {
        width: 50vw;
    }
}

@media screen and (max-width:950px) {
    .form {
        width: 70vw;
    }
}

@media screen and (max-width:650px) {
    .form {
        width: 90vw;
    }
}

@media screen and (max-width:550px) {
    .form h1 {
        font-size: 1.6rem;
    }

    .form {
        width: 100%;
        height: 100%;
    }
}


@media screen and (max-width:460px) {
    .form h1 {
        margin-bottom: 0px;
    }

    .form {
        padding: 200px 30px;
    }

    .address_container {
        display: flex;
        flex-direction: column;
    }

    label {
        margin-bottom: 5px;
        font-size: 0.8rem;
    }
}



@media screen and (max-width:370px) {
    .form {
        padding: 20px;
    }
}